<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Astrology Home Page</title>
	<style type="text/css">
		body{
			background: yellow;
			color: red;
		}
		span{
			color: blue;
		}
	</style>
</head>
<body>
	<h1>Hello friends, <span>{{wish}}</span></h1>
	<h2>Now the server time is <span>{{time}}</span></h2><hr>
	<h1>Astrology info for Surendra: <span>{{msg}}</span></h1>
	<h2>Very soon, you are going to get married with <span>{{name}}</span></h2>
</body>
</html>